#Defines the channels channelArchive should download
#To use this file, rename it to "channelArchive.config" or copy it using the following command:
#   cp channelArchive.config.example channelArchive.config


#define a base directory
base_dir = /media/Youtube

#Format:
# [Channel Name] [Channel ID] [Folder]
#   Channel Name is a user-readable name used for logging
#   Channel ID is either a youtube channel ID or a link to a youtube channel
#   Folder is the subfolder for this channel
#Example:
# [OK Go] [https://www.youtube.com/@okgo] [okgo]
# [Weezer] [UC7JDBUzkcwRGtQGia3_mMgQ] [weezer]

#define channels
[Weezer] [UC7JDBUzkcwRGtQGia3_mMgQ] [weezer]
